<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- start of content--> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Groceries</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- space between header and body for readability-->

<!--start of list-->
  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Fruit</ion-label>
      </ion-item-divider>
<!-- space added between divider and items in divider for readability-->

      <ion-item-sliding>
        <ion-item >
          <h2 slot="start">Apples </h2>
          <p name="quantity" slot="start">x2</p>
          <p name="subtype">honeycrisp</p>            
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" icon-start>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" icon-start>
            <ion-icon name="create"> </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" icon-start>
            <ion-icon name="close"> </ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
<!-- space added between divided section items for readability-->
      
      <ion-item-sliding>
        <ion-item>
          <h2 slot="start">Lemons </h2>
          <p name="quantity" slot="start">x2</p>
          <p name="subtype"></p> 
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" icon-start>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" icon-start>
            <ion-icon name="create"> </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" icon-start>
            <ion-icon name="close"> </ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
<!-- space added between divided section items for readability-->

      <ion-item-sliding>
        <ion-item>
          <h2 slot="start">Oranges </h2>
          <p name="quantity" slot="start">x4</p>
          <p name="subtype">Naval</p> 
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" icon-start>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" icon-start>
            <ion-icon name="create"> </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" icon-start>
            <ion-icon name="close"> </ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
<!-- space added between item groups for readability-->

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Dairy</ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item>
          <h2 slot="start">Milk</h2>
          <p name="quantity" slot="start">x1</p>
          <p name="subtype">Whole</p> 
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" icon-start>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" icon-start>
            <ion-icon name="create"> </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" icon-start>
            <ion-icon name="close"> </ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <h2 slot="start">Cheese</h2>
          <p name="quantity" slot="start">x1</p>
          <p name="subtype">Cheddar</p> 
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" icon-start>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" icon-start>
            <ion-icon name="create"> </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" icon-start>
            <ion-icon name="close"> </ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
<!--end of list-->  

<!-- end of content-->
</ion-content>



<!-- formats for faster pasting -->

<!--
      ***item grouping:

      <ion-item-group>
        <ion-item-divider>
          <ion-label></ion-label>
        </ion-item-divider>
      </ion-item-group>
___________________________

      ***item:

      <ion-item-sliding>
          <ion-item>
            <h2 slot="start"></h2>
            <p name="quantity" slot="start"></p>
            <p name="subtype"></p> 
          </ion-item>
          <ion-item-options>
            <ion-item-option color="success" icon-start>
              <ion-icon name="checkmark"></ion-icon>
            </ion-item-option>
            <ion-item-option color="warning" icon-start>
              <ion-icon name="create"> </ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" icon-start>
              <ion-icon name="close"> </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
-->
